@import "bootstrap-pulse.css";

.info-feedback, .feedback-message {
    display: block;
}

.info-feedback {
    color: var(--bs-light-text-emphasis);
}

.feedback-message {
    color: var(--bs-form-invalid-color);
}
