<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="title=${category instanceof T(java.lang.String) ? category : category.name}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${title}"/>

</head>
<body>
<div th:fragment="breadcrumbs(parents)">
    <ul class="padding-0">
        <li>
            <a th:href="@{/}" th:text="Home"/>
        </li>
    </ul>
    <ul th:unless="${parents==null}" th:each="parent, iterStat:${parents}" class="padding-0"
    th:with="name=${parent.name}, path=@{/search/{path}(path=${parent.path})},
    isProduct=${product!=null}, isLast=${iterStat.last}">
        <li th:text="'/'" class="padding-x-8"/>
        <li th:if="${isProduct}">
            <a th:href="${path}" th:text="${name}"/>
        </li>
        <li th:unless="${isProduct}">
            <div th:if="${isLast}" th:text="${name}"/>
            <a th:unless="${isLast}" th:href="${path}" th:text="${name}"/>
        </li>
    </ul>
</div>
<br>
<div th:if="${!categories.isEmpty() && categories.size()>1}">
    Kategorie
    <ul th:each="category:${categories}">
        <li>
            <a th:href="@{/search/{categoryPath}(categoryPath=${category.path})}" th:inline="text">
                [[${category.name}]]
            </a>
        </li>
    </ul>
</div>

<br>
<div>
    Produkty
    <ul th:each="product:${products}">
        <li>
            <a th:href="@{/search/{categoryPath}/product/{productPath}(categoryPath=${product.category.path},
            productPath=${product.path})}" th:inline="text">
                [[${product.name}]]
            </a>
        </li>
    </ul>
</div>
</body>
</html>
