<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header"
     th:with="isAuthenticated=${#authentication.isAuthenticated()},
     isAdmin=${#authorization.expression('hasRole(''ADMIN'')')}">
    <h1>Sklep</h1>
    <div sec:authorize="hasRole('USER')">
        <div th:unless="${isAdmin}"><a href="/">\_/ "Koszyk"</a></div>
        <div th:inline="text">Welcome [[${#authentication.name}]]!</div>
        <div>
            <ul>
                <li><a href="/">Profil</a></li>
            </ul>
        </div>
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div sec:authorize="hasRole('ANONYMOUS')">
        <a href="/register">
            <button>Zarejestruj się</button>
        </a>
        <br>
        <a href="/login">
            <button>Zaloguj się</button>
        </a>
    </div>
</div>

</body>
</html>