<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:insert="~{header::header}"></div>
<div>O nas</div>
<div>Kontakt</div>

<div>Kategorie
    <div><a th:href="@{/search/all}">Wszystkie</a></div>
    <div th:insert="this::fragment(${categories})"></div>
</div>
<ul th:fragment="fragment(cat)" th:each="category:${cat}">
    <li>
        <a th:href="@{/search/{path}(path=${category.key.path})}" th:inline="text">
            [[${category.key.name}]] </a>
        <div th:if="${category.value!=null}" th:insert="this::fragment(${category.value})"></div>
    </li>
</ul>

</body>
</html>