<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username" value="John User"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" value="password">
    </div>
    <input type="submit" value="Log in" />
</form>
</body>
</html>