<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"/>
    <link rel="stylesheet" href="/css/style.css">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>

<div th:insert="~{allProducts::breadcrumbs(${parents})}"></div>

<br>
<div th:text="${product.name}"/>
<div th:text="${product.description}"/>
<div th:text="${product.price}"/>
<img th:src="@{/images/crochet-hat.jpg}" th:alt="${product.name}">
<br>
<button id="addToCart">Dodaj do koszyka</button>
<div id="afterAdd" style="display: none">
    <button>
        <a th:href="@{/cart}">Przejdź do koszyka</a>
    </button>
    <button id="stayOnPage">Zostań na stronie</button>
</div>
<button id="buy">Kup</button>

<script th:inline="javascript">
    /*<![CDATA[*/
    const product = /*[[${product}]]*/ null;
    /*]]>*/
    $(document).ready(function () {
        console.log(product);
        const afterAdd = $("#afterAdd");

        const cart = [product]
        const cartItem = localStorage.getItem("cart");

        if (cartItem === undefined || cartItem === null || cartItem.length === 0) {
            localStorage.setItem("cart", cartItem)
        }

        $("#addToCart").click(function () {

            afterAdd.css("display", "block");
        });
        $("#stayOnPage").click(function () {
            afterAdd.css("display", "none");
        });
    });
</script>

</body>
</html>
